
      <!-- Header Start -->
  <section id="header">
    <a href="home.html"> <img src="assets/images/ll.png" alt=""> </a>
    <div>
      <ul id="navbar">
      <li><a class="active" routerLink="">Home</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="about.html">About</a></li>
      <li><a routerLink="seller-auth">Login</a></li>
      <li><a href="#" routerLink="/cart-page"><i class="fas fa-shopping-bag"></i></a></li>
    </ul>
    </div>
  </section>
  <!-- Header End -->
