$color: white;
.footer {
  background-color: purple;
  color: $color;
  padding: 20px;
  text-align: center;
  p{
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: $color;
    font-size: 17px;
  }

  @media (max-width: 1024px) {
    p,a {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    p,a{
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    p,a {
      font-size: 12px;
    }
  }
}
