/* Genel stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Ürün detayı stil */
  .product-detail {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
  }
  .card{
    margin-left: 50px;
    margin-top: 80px;
    border: 0;

  }
  img {
    max-width: 600px;
    height: auto;
    margin-left: 100px;
    border-radius: 40px;
    margin-top: 50px;
  }
  .product-info {
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 16px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 15px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .category {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  
      i {
        margin-right: 5px; /* İkon ile metin arasına boşluk bırakmak için */
      }
  
      p {
        color: #778899;
      }
    }
  
    .location {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 15px;
  
      i {
        margin-right: 5px; /* İkon ile metin arasına boşluk bırakmak için */
      }
  
      p {
        color: black;
      }
    }
  
    .price {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  
      i {
        margin-right: 5px; /* İkon ile metin arasına boşluk bırakmak için */
      }
  
      p {
        color: black;
      }
    }
  
    .date {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  
      i {
        margin-right: 5px; /* İkon ile metin arasına boşluk bırakmak için */
      }
  
      p {
        color: black;
      }
    }
  }
  
  .event-box {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    width: 700px;
    height: 150px;
    border-radius: 40px;
    background-color: whitesmoke;
    text-align: left;
  
    .event-title {
      font-weight: bold;
      margin: 0;
      color: purple;
      margin: 15px; /* Adjust the top and bottom margins as needed */
      height: 10px;
    }
  
    .event-detail {
      margin: 15px;
      font-size: 15px; /* Yazı boyutunu 16 piksel olarak ayarladık */
      padding-top: 2px;
    }
  }
  
  .buy {
    margin-left: 300px;
  }
  
  /* Favori ekleme butonu stil */
  .favorite-button,
  .cart-button {
    display: inline-block;
    padding: 14px 16px;
    border: none;
    border-radius: 40px;
    background-color: purple;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 40px;
  
    &:hover {
      background-color: white;
      color: purple;
    }
  }
  
  
 