

  <div class="product-container">

    <div class="product-detail">
      <div class="main-image">
        <img [src]="product.imageSrc[activeSlideIndex]" alt="Main Slide">
      </div>
      <div class="thumbnail-slider">
        <div *ngFor="let imageSrc of product.imageSrc; let i = index" class="thumbnail" [ngClass]="{ 'active': i === activeSlideIndex }" (click)="setActiveSlide(i)">
          <img [src]="imageSrc" alt="Thumbnail {{ i + 1 }}">
        </div>
      </div>
    </div>
    
    
       
    <div class="card">
      
      
    
      <div class="product-info">
          <h2>{{ product.name }}</h2>
          <div class="category">
            <i class="fa-solid fa-tag" style="color: #800080;"></i>
            <p style="margin: 0; margin-left: 5px;">{{ product.category }}</p>
          </div>
          <div class="event-box">
            <p class="event-title">Ekinlik Detayı:</p>
            <p class="event-detail">{{ product.etkinlikdetayi }}</p>
          </div>
          <div class="location">
            <i class="fa-solid fa-location-dot" style="color: #800080;"></i>
            <p style="margin: 0; margin-left: 5px;">{{product.city}} /  {{ product.location }}</p>
          </div>
          <div class="price">
            <i class="fa-solid fa-ticket fa-flip-vertical" style="color: #800080;"></i>
            <p style="margin: 0; margin-left: 5px;">{{ product.price }}</p>
          </div>
    
          <div class="date">
            <i class="fa-solid fa-calendar-days" style="color: #800080;"></i>
            <p style="margin: 0; margin-left: 5px;"> {{ formatDateTimeTurkish(product.date) }} </p>
          </div>
        <div class= buy>
          <button class="favorite-button">
            <i class="fa-regular fa-heart" style="color: #ffffff;"></i>
            Favorilere Ekle</button>
    
          <button class="cart-button">
            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
            Sepete Ekle</button>
        </div>
    
    </div>
    </div>
    </div>


