<section id="feature" class="section-p1">
  <div class="fe-box" (click)="filterByCategory('Tümü')">
    <!-- KONSER bağlantısı eklendi -->
    <img
      src="https://www.bubilet.com.tr/assets/images/icon-blog.png"
      alt="Tümü"
    />
    <h6>TÜMÜ</h6>
  </div>
  <div class="fe-box" (click)="filterByCategory('Konser')">
    <!-- KONSER bağlantısı eklendi -->
    <img
      src="https://cdn.bubilet.com.tr/files/Etiket/konser-69529.png"
      alt="KONSER"
    />
    <h6>KONSER</h6>
  </div>
  <div class="fe-box" (click)="filterByCategory('Tiyatro')">
    <!-- TİYATRO bağlantısı eklendi -->
    <img
      src="https://cdn.bubilet.com.tr/files/Etiket/tiyatro-69756.png"
      alt="TİYATRO"
    />
    <h6>TİYATRO</h6>
  </div>
  <div class="fe-box" (click)="filterByCategory('Stand-Up')">
    <!-- SİNEMA bağlantısı eklendi -->
    <img
      src="https://cdn.bubilet.com.tr/files/Etiket/stand-up-36380.PNG"
      alt="SİNEMA"
    />
    <h6>STAND-UP</h6>
  </div>
  <div class="fe-box" (click)="filterByCategory('Festival')">
    <!-- FESTİVAL bağlantısı eklendi -->
    <img
      src="https://cdn.bubilet.com.tr/files/Etiket/festival-63840.png"
      alt="FESTİVAL"
    />
    <h6>FESTİVAL</h6>
  </div>
</section>



<section id="product1" class="section-p1">
  <div class="button-container">
    <button class="button" (click)="showPastEvents()">Geçmiş Etkinlikleri Göster</button>
  </div>
  <div class="pro-container">
    <div
      class="pro"
      *ngFor="let product of filteredProducts"
      (click)="onCardClick(product.id)"
    >
      <!-- Add routerLink to navigate to the product detail page with the product ID -->
      <img [src]="product.imageSrc" alt="" />
      <div class="des">
        <h4>{{ product.name }}</h4>
        <div class="location">
          <i class="fa-solid fa-location-dot" style="color: #800080"></i>
          <p>{{ product.city }} / {{ product.location }}</p>
        </div>

        <div class="date">
          <i class="fa-solid fa-calendar-days" style="color: #800080"></i>
          <p>{{ formatDateTimeTurkish(product.date) }}</p>
                </div>

        <div class="price-box">
          {{ product.price }} <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
  </div>
</section>
