/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
/*Slider Start*/
* {
  box-sizing: border-box;
  margin-top: -7.5px;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  width: 100%;


}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  cursor: pointer;
width: 100%;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-width: 100%; /* İçeriği ekran genişliğine sığdırmak için */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

  /* Position the "next button" to the right */
  &.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &.active,
  &:hover {
    background-color: #717171;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
/*Slider End*/

@media (max-width: 1024px) {

  .slideshow-container {
    max-width: 100%;
  }
  
  .prev,
  .next {
    font-size: 16px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
  }
}


@media (max-width: 480px) {
  
  .slideshow-container {
    width: 100%;
  }
  
  .prev,
  .next {
    font-size: 14px;
  }
  
  .dot {
    height: 8px;
    width: 8px;
  }
  img {

  width: 100%;
  }
}
